In [1]:
test_list = ['one','two','three']

for k in test_list:
    print(k)

one
two
three

In [5]:
a = [(1,2),(3,4),(5,6)]
print(a)
for k in a:
    print(k[0] + k[1])
    
for b, c in a:
    print(b + c)
    
for b, _ in a:
    print(b)

[(1, 2), (3, 4), (5, 6)]
3
7
11
3
7
11
1
3
5

In [6]:
scores = [90,25,67,45,80]
number = 0

for score in scores:
    number += 1
    if score >= 60:
        print(f'{number} 번 학생은 {score} 점 합격')
    else:
        print(f'{number} 번 학생 {score} 점 불합격')

1 번 학생은 90 점 합격
2 번 학생 25 점 불합격
3 번 학생은 67 점 합격
4 번 학생 45 점 불합격
5 번 학생은 80 점 합격

In [7]:
scores = [90,25,67,45,80]
number = 0

for score in scores:
    number += 1
    if score < 60:
        continue
    print(f'{number}번 학생 {score}점수로 합격')

1번 학생 90점수로 합격
3번 학생 67점수로 합격
5번 학생 80점수로 합격

In [9]:
print(range(1,11,1))
print(type(range(1,11)))

for i in range(1,11):
    print(i, end=' ')

range(1, 11)
<class 'range'>
1 2 3 4 5 6 7 8 9 10

In [10]:
sum = 0
for num in range(1,10001):
    sum += num

print(sum)

50005000

In [11]:
scores = [90,25,67,45,80,70,65,100]
for number in range(len(scores)):
    if scores[number] < 60:
        continue
    print(f'{number + 1}번 학생 {scores[number]} 점수로 합격')

1번 학생 90 점수로 합격
3번 학생 67 점수로 합격
5번 학생 80 점수로 합격
6번 학생 70 점수로 합격
7번 학생 65 점수로 합격
8번 학생 100 점수로 합격

In [14]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]
[3, 6, 9, 12]

In [15]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [16]:
result = [x * y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [17]:
words = ['apple','banana','cherry','date','is','a','has']
len_5_lt = [word for word in words if len(word) < 5]
print(len_5_lt)

['date', 'is', 'a', 'has']