In [1]:
def sum_mul(op, *param):
    if op == '+':
        result = 0
        for i in param:
            result += i
    elif op == '*':
        result = 1
        for i in param:
            result *= i
    return result

In [2]:
print(sum_mul('+',1,2,3,4))
print(sum_mul('+',1,2,3,4,5))
print(sum_mul('*',1,2,3,4))
print(sum_mul('*',1,2,3,4,5,6))

10
15
24
720

In [4]:
def sum_and_mul(a,b):
    return a + b, a * b
    return a * b

In [5]:
print(sum_and_mul(1,2))
print(sum_and_mul(1,2)[0])
print(sum_and_mul(1,2)[1])

(3, 2)
3
2

In [6]:
def say_nick(nick):
    if nick == '바보':
        return None
    else:
        print(f'나의 별명은 {nick}입니다.')

In [7]:
print(say_nick('천사'))

나의 별명은 천사입니다.
None

In [8]:
def say_myself(name, man, age):
    print(f'나의 이름은 {name}입니다')
    print(f'나이는 {age}입니다')
    if man:
        print('남자다')
    else:
        print('여자다')
        
data1 = {'name':'홍길동', 'age':30, 'man':True}
data2 = {'name':'고길동', 'age':35, 'man':True}
data3 = {'name':'마이꼴', 'age':20, 'man':True}
say_myself(**data1)
say_myself(**data2)
say_myself(**data3)

나의 이름은 홍길동입니다
나이는 30입니다
남자다
나의 이름은 고길동입니다
나이는 35입니다
남자다
나의 이름은 마이꼴입니다
나이는 20입니다
남자다

In [14]:
a = 1
# def vartest():
#     global a
#     a = a + 1
#     return None

def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [15]:
a = input()
print(a)

ㅋ

In [16]:
a = input('이름 입력 : ')
print(a)

서제원

In [17]:
number = input('숫자입력 : ')
print(number)
print(type(int(number)))

33
<class 'int'>

In [18]:
print(1,2,3,4, end=',')
print(1,2,3,4)
print(1,2,3,4)

1 2 3 4,1 2 3 4
1 2 3 4

In [23]:
def print_(*values, end='\n'):
    print(values,end=end)

In [24]:
print_(1,2,3)

(1, 2, 3)