### 01 서울시 구별 CCTV 현황 분석
**[학습목표]**
1. 서울시 구별 CCTV 데이터 파악, 인구대비 파악
2. 인구대비 평균치 파악, 구별 과부족 파악
3. pandas 사용법, 시각화(matplotlib)
4. 단순한 그래프로 시각화

In [2]:
import numpy as np
import pandas as pd

In [3]:
CCTV_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', encoding='utf-8')
# CCTV_Seoul.head()
CCTV_Seoul.tail()

    기관명    소계  2013년도 이전  2014년  2015년  2016년
20  용산구  1624       1368    218    112    398
21  은평구  1873       1138    224    278    468
22  종로구  1002        464    314    211    630
23   중구   671        413    190     72    348
24  중랑구   660        509    121    177    109

In [4]:
print(CCTV_Seoul.index)
print(CCTV_Seoul.columns)
print(CCTV_Seoul.columns[-1])
print(CCTV_Seoul.values)

RangeIndex(start=0, stop=25, step=1)
Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')
2016년
[['강남구' 2780 1292 430 584 932]
 ['강동구' 773 379 99 155 377]
 ['강북구' 748 369 120 138 204]
 ['강서구' 884 388 258 184 81]
 ['관악구' 1496 846 260 390 613]
 ['광진구' 707 573 78 53 174]
 ['구로구' 1561 1142 173 246 323]
 ['금천구' 1015 674 51 269 354]
 ['노원구' 1265 542 57 451 516]
 ['도봉구' 485 238 159 42 386]
 ['동대문구' 1294 1070 23 198 579]
 ['동작구' 1091 544 341 103 314]
 ['마포구' 574 314 118 169 379]
 ['서대문구' 962 844 50 68 292]
 ['서초구' 1930 1406 157 336 398]
 ['성동구' 1062 730 91 241 265]
 ['성북구' 1464 1009 78 360 204]
 ['송파구' 618 529 21 68 463]
 ['양천구' 2034 1843 142 30 467]
 ['영등포구' 904 495 214 195 373]
 ['용산구' 1624 1368 218 112 398]
 ['은평구' 1873 1138 224 278 468]
 ['종로구' 1002 464 314 211 630]
 ['중구' 671 413 190 72 348]
 ['중랑구' 660 509 121 177 109]]

In [5]:
CCTV_Seoul.describe()

                소계    2013년도 이전       2014년       2015년       2016년
count    25.000000    25.000000   25.000000   25.000000   25.000000
mean   1179.080000   764.760000  159.480000  205.200000  385.880000
std     556.728983   415.510257  104.132976  137.877059  182.479981
min     485.000000   238.000000   21.000000   30.000000   81.000000
25%     748.000000   464.000000   78.000000  103.000000  292.000000
50%    1015.000000   573.000000  142.000000  184.000000  377.000000
75%    1496.000000  1070.000000  218.000000  269.000000  467.000000
max    2780.000000  1843.000000  430.000000  584.000000  932.000000

In [6]:
CCTV_Seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기관명        25 non-null     object
 1   소계         25 non-null     int64
 2   2013년도 이전  25 non-null     int64
 3   2014년      25 non-null     int64
 4   2015년      25 non-null     int64
 5   2016년      25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [7]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'})

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [8]:
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [9]:
CCTV_Seoul_re1 = CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'})

In [10]:
CCTV_Seoul_re1.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [11]:
POP_Seoul = \
    pd.read_excel('../data/01. population_in_Seoul.xls'
                  , header=2
                  , usecols='B,D,G,J,N'
                  )

In [12]:
POP_Seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [14]:
POP_Seoul_re1 = POP_Seoul.rename(columns={
  POP_Seoul.columns[0]:'구별'
  , POP_Seoul.columns[1]:'인구수'
  , POP_Seoul.columns[2]:'한국인'
  , POP_Seoul.columns[3]:'외국인'
  , POP_Seoul.columns[4]:'고령자'
  }
                                 )

print(POP_Seoul_re1.columns)

Index(['구별', '인구수', '한국인', '외국인', '고령자'], dtype='object')

In [15]:
POP_Seoul_re1.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

### Pandas 기초
#### 컬럼 생성 : Series 다루기

In [16]:
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
data = [1,2,3,4,5]
index = ['a','b','c','d','e']
series = pd.Series(data=data, index=index)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
data_index = {
    'a': 1
    ,'b': 2
    ,'c': 3
    ,'d': 4
    ,'e': 5
}
series = pd.Series(data_index)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [19]:
data = 5
index = ['a', 'b', 'c']
series = pd.Series(data=data, index=index)
print(series)

a    5
b    5
c    5
dtype: int64

In [20]:
series = pd.Series(data=[1, 2, 3]
                   , index=['a', 'b', 'c']
                   , name='sample_series'
                   , dtype='int8')
print(series)
print(series.values)
print(series.index)
print(series.name)
print(series.dtype)

a    1
b    2
c    3
Name: sample_series, dtype: int8
[1 2 3]
Index(['a', 'b', 'c'], dtype='object')
sample_series
int8

In [21]:
series = pd.Series(data=[1, 2, 3], index=['a', 'b', 'c'])
print(series)
print(series + 1)
print(series * 2)

a    1
b    2
c    3
dtype: int64
a    2
b    3
c    4
dtype: int64
a    2
b    4
c    6
dtype: int64

In [23]:
series = pd.Series(data=[1, 2, 3], index=['a', 'b', 'c'])
print(series)
print(series['b'])
print(series['b':'c'])
print(series[1:])

a    1
b    2
c    3
dtype: int64
2
b    2
c    3
dtype: int64
b    2
c    3
dtype: int64

In [24]:
series = pd.Series(data=[1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(series)
print(series.apply(lambda x: x ** 2))

a    1
b    2
c    3
d    4
e    5
dtype: int64
a     1
b     4
c     9
d    16
e    25
dtype: int64

In [25]:
print(series)
print(series.map({
    1: 'one'
    , 2: 'two'
    , 3: 'three'
}))

a    1
b    2
c    3
d    4
e    5
dtype: int64
a      one
b      two
c    three
d      NaN
e      NaN
dtype: object

In [26]:
series = pd.Series([1, 2, 2, 3, 4])
print(series)
print('합 :', series.sum())
print('누적합 :', series.cumsum())
print('값의 빈도 :', series.value_counts())
print('평균 :', series.mean())
print('중앙값 :', series.median())
print('표준편차 :', series.std())

0    1
1    2
2    2
3    3
4    4
dtype: int64
합 : 12
누적합 : 0     1
1     3
2     5
3     8
4    12
dtype: int64
값의 빈도 : 2    2
1    1
3    1
4    1
Name: count, dtype: int64
평균 : 2.4
중앙값 : 2.0
표준편차 : 1.140175425099138

In [27]:
dates = pd.date_range('20240628', periods=7)
print(dates)

DatetimeIndex(['2024-06-28', '2024-06-29', '2024-06-30', '2024-07-01',
               '2024-07-02', '2024-07-03', '2024-07-04'],
              dtype='datetime64[ns]', freq='D')

In [28]:
series = pd.Series(data=[1, 2, 3, 4, 5, 6, 7], index=dates)
print(series)
print(series['20240701':'2024-07-03'])

2024-06-28    1
2024-06-29    2
2024-06-30    3
2024-07-01    4
2024-07-02    5
2024-07-03    6
2024-07-04    7
Freq: D, dtype: int64
2024-07-01    4
2024-07-02    5
2024-07-03    6
Freq: D, dtype: int64

In [29]:
date_range = pd.date_range(start='2024-06-28', periods=10)
print(date_range)

DatetimeIndex(['2024-06-28', '2024-06-29', '2024-06-30', '2024-07-01',
               '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05',
               '2024-07-06', '2024-07-07'],
              dtype='datetime64[ns]', freq='D')

In [31]:
date_range = pd.date_range(start='2024-06-28', end='2024-10-11')
print(date_range)

DatetimeIndex(['2024-06-28', '2024-06-29', '2024-06-30', '2024-07-01',
               '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05',
               '2024-07-06', '2024-07-07',
               ...
               '2024-10-02', '2024-10-03', '2024-10-04', '2024-10-05',
               '2024-10-06', '2024-10-07', '2024-10-08', '2024-10-09',
               '2024-10-10', '2024-10-11'],
              dtype='datetime64[ns]', length=106, freq='D')

In [33]:
date_range = pd.date_range(start='20240628', periods=10, freq='h')
print(date_range)

DatetimeIndex(['2024-06-28 00:00:00', '2024-06-28 01:00:00',
               '2024-06-28 02:00:00', '2024-06-28 03:00:00',
               '2024-06-28 04:00:00', '2024-06-28 05:00:00',
               '2024-06-28 06:00:00', '2024-06-28 07:00:00',
               '2024-06-28 08:00:00', '2024-06-28 09:00:00'],
              dtype='datetime64[ns]', freq='h')

In [40]:
date_range = pd.date_range(start='20240628', periods=3, freq='D')
print(date_range)
date_range = pd.date_range(start='20240628', periods=3, freq='B')
print(date_range)
date_range = pd.date_range(start='20240628', periods=3, freq='h')
print(date_range)
date_range = pd.date_range(start='20240628', periods=3, freq='min')
print(date_range)
date_range = pd.date_range(start='20240628', periods=3, freq='s')
print(date_range)
date_range = pd.date_range(start='20240628', periods=3, freq='ms')
print(date_range)
date_range = pd.date_range(start='20240628', periods=3, freq='W')
print(date_range)
date_range = pd.date_range(start='20240628', periods=3, freq='ME')
print(date_range)
date_range = pd.date_range(start='20240628', periods=3, freq='QE')
print(date_range)
date_range = pd.date_range(start='20240628', periods=3, freq='YE')
print(date_range)

DatetimeIndex(['2024-06-28', '2024-06-29', '2024-06-30'], dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2024-06-28', '2024-07-01', '2024-07-02'], dtype='datetime64[ns]', freq='B')
DatetimeIndex(['2024-06-28 00:00:00', '2024-06-28 01:00:00',
               '2024-06-28 02:00:00'],
              dtype='datetime64[ns]', freq='h')
DatetimeIndex(['2024-06-28 00:00:00', '2024-06-28 00:01:00',
               '2024-06-28 00:02:00'],
              dtype='datetime64[ns]', freq='min')
DatetimeIndex(['2024-06-28 00:00:00', '2024-06-28 00:00:01',
               '2024-06-28 00:00:02'],
              dtype='datetime64[ns]', freq='s')
DatetimeIndex([       '2024-06-28 00:00:00', '2024-06-28 00:00:00.001000',
               '2024-06-28 00:00:00.002000'],
              dtype='datetime64[ns]', freq='ms')
DatetimeIndex(['2024-06-30', '2024-07-07', '2024-07-14'], dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2024-06-30', '2024-07-31', '2024-08-31'], dtype='datetime64[ns]', freq='ME')
DatetimeIndex(['2024-06-30', '2024-09-30', '2024-12-31'], dtype='datetime64[ns]', freq='QE-DEC')
DatetimeIndex(['2024-12-31', '2025-12-31', '2026-12-31'], dtype='datetime64[ns]', freq='YE-DEC')