In [2]:
a = 'Hello'
print(a)
print(type(a))

Hello
<class 'str'>

In [3]:
a = 'Hello\nWorld'
a

'Hello\nWorld'

In [4]:
print(a)

Hello
World

In [5]:
b = 'Hello'
b

'Hello'

In [6]:
c = 'He say "Hello"'
print(c)

He say "Hello"

In [7]:
a = '''
우리는 지금 파이썬
데이터 타입을 배우고 있습니다.
화이팅!!!
'''
a

'\n우리는 지금 파이썬\n데이터 타입을 배우고 있습니다.\n화이팅!!!\n'

In [8]:
print(a)

우리는 지금 파이썬
데이터 타입을 배우고 있습니다.
화이팅!!!

In [9]:
head = 'Python'
tail = ' is fun'
print(head + tail)

Python is fun

In [10]:
a = '='
print(a * 30)
print('연락처 프로그램')
print(a * 30)

==============================
연락처 프로그램
==============================

In [11]:
a = 'Life is too short!'
print(a)
print(a[1])
print(a[0])
print(a[-1])

Life is too short!
i
L
!

In [12]:
print(a)

Life is too short!

In [13]:
print(a[0:4])
print(a[0:5])

Life
Life

In [14]:
print(a)
print(a[8:11])
print(a[12:])
print(a[:4])
print(a[:])
print(a)

Life is too short!
too
short!
Life
Life is too short!
Life is too short!

In [15]:
a = 'Life'
print(a[1:2])
print(a[1])

i
i

In [17]:
a = 'Life'

b = a
b = b + 'b'
c = a[0] + 'b' + a[2:]

print(a)
print(b)
print(c)

Life
Lifeb
Lbfe

In [18]:
cnt = 5
print('I eat %d apples.' %cnt)
print(f'I eat {cnt} apples.')

I eat 5 apples.
I eat 5 apples.

In [19]:
print('%s'%'hi')
print('%10s'%'hi')
print('%-10s'%'hi')

hi
        hi
hi

In [20]:
print('%-10sjane'%'hi')
print('%-10student'%'hi')

hi        jane
hi        tudent

In [21]:
print('파이 : %f'%3.141592)
print('파이 : %0.4f'%3.141592)
print('파이 : %10.4f'%3.141592)

pi = 3.141592
print(f'파이 : {pi}')
print(f'파이 : {pi:0.4f}')
print(f'파이 : {pi:10.4f}')

파이 : 3.141592
파이 : 3.1416
파이 :     3.1416
파이 : 3.141592
파이 : 3.1416
파이 :     3.1416

In [22]:
a = 'hobby'
print(a.count('b'))
print(a.count('bb'))

2
1

In [23]:
a = 'Life is too short'
print(a.find('i'))
print(a.find('m'))
print(a.index('i'))
try:
    print(a.index('m'))
except:
    print('찾는 문자열이 없습니다.')

1
-1
1
찾는 문자열이 없습니다.

In [24]:
a = ','
print(a.join('abcd'))

a,b,c,d

In [25]:
a = 'hi '
b = ' hi'
c = ' hi '
d = ' hi hi '
print(a.rstrip())
print(a.lstrip())
print(c.strip())
print(d.strip())

hi
hi
hi
hi hi

In [26]:
d = ' hi hi '
print(d.replace(' ',''))

hihi

In [28]:
a = 'Life is too short'
print(a.split())
b = 'a:b:c:d'
print(b.split(':'))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [29]:
'I eat {1} apples {0}'.format(3,4)

'I eat 4 apples 3'

In [30]:
def format(* aaa):
    sum = 0
    print(type(aaa))
    for k in aaa:
        sum += k
    print(sum)
    
format(3,4)
format(1,2,3)
format(1,2,3,4,5,6,7,8,9,10)

<class 'tuple'>
7
<class 'tuple'>
6
<class 'tuple'>
55

In [33]:
number = 10
day = 'three'
print('I ate {0} apples, so I was sick for {1} days.'.format(number,day))

I ate 10 apples, so I was sick for three days.

In [34]:
print('I ate {number} apples, so I was sick for {day} days.'.format(number=10,day='three'))

I ate 10 apples, so I was sick for three days.

In [35]:
number = 40
day = 'three'
print(f'I ate {number} apples, so I was sick for {day} days')

I ate 40 apples, so I was sick for three days

In [36]:
print('{0:<10}!'.format('hi'))
print('{0:>10}!'.format('hi'))
print('{0:^10}!'.format('hi'))

hi        !
        hi!
    hi    !
hi        !
        hi!
    hi    !

In [37]:
PI = 3.141592
print('PI : {0:0.4f}'.format(PI))
print(f'PI : {PI:0.4f}')

PI : 3.1416
PI : 3.1416